body {
  background-color: #FFDF8C;
  padding: 50px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
}

.global_wrapper {
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 49px 48px 96px 67px;
  box-sizing: border-box;
}

.global_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F6F6F6;
  padding-bottom: 40px;
}

.logo_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 316px;
}

.logo_name img{
  width: 38px;
  height: 38px;
}

.react_pizza h1 {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
}

.react_pizza p{
  margin: 0;
  color: #7B7B7B;
  font-size: 16px;
}


.basket {
  display: flex;
  justify-content: space-between;
  padding: 0 23px;
  align-items: center;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #FE5F1E;
  color: #FFFFFF;
  cursor: pointer;
}

.basket_divider {
  width: 1px;
  height: 25px;
  background-color: #FFFFFF;
}

.menu_filter,
.filter ul,
.sort {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.filter ul {
  gap: 9px;
}

.filter li {
  list-style-type: none;
}

.menu_filter {
  margin-top: 40px;
}

.button_filter,
.button_filter.active {
  background-color: #F9F9F9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 0 25px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_filter.active {
  background-color: #282828;
  color: #FFFFFF;
}

.sort {
  /* width: 225px; */
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
}

.sort_selection {
  font-weight: 400;
  font-size: 14px;
  color: #FE5F1E;
}

.list_pizza{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 65px 5px;
}

.all_pizza h2 {
  font-weight: 700;
  font-size: 32px;
}

.pizza h3{
  margin: 0;
  margin-top: 11px;
  margin-bottom: 22px;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

.options_pizza {
  background-color: #F3F3F3;
  border-radius: 10px;
  width: 280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px 0;
  margin-bottom: 24px;
}

.dough_pizza {
  display: flex;
  gap: 0 3px;
}

.size_pizza {
  display: flex;
  gap: 0 26px;
}

.options_pizza button,
.options_pizza button.active{
  border: none;
  cursor: pointer;
}

.options_pizza button.active{
  background-color: #FFFFFF;
  border-radius: 5px;
}


.dough_pizza button {
  padding: 7px 30px 10px 30px;
  margin-top: 7px;
  background-color: #F3F3F3;
  font-weight: 700;
  font-size: 14px;
}

.size_pizza button {
  padding: 7px 15px 10px 15px;
  margin-bottom: 7px;
  background-color: #F3F3F3;
  font-weight: 700;
  font-size: 14px;
}

.price_addition_pizza {
  display: flex;
  justify-content: space-between;
}

.price_pizza {
  font-weight: 700;
  font-size: 22px;
  display: flex;
  gap: 0 10px;
  align-items: center;
}

.price_addition_pizza button {
  border-color: #EB5A1E;
  background-color: #FFFFFF;
  color: #EB5A1E;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  padding: 11px 21px 14px 17px;
  display: flex;
  gap: 0 10px;
}